body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* About Section */
.about-container {
    padding: 50px;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 10px;
}

.about-container h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: black;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #a0522d;
}

section p {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.team-member {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 45%;
    min-width: 300px;
    text-align: center;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.team-member h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.team-member p {
    font-size: 1em;
    color: #555;
    line-height: 1.4;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-container {
        padding: 30px;
    }

    .team-member {
        width: 100%;
        margin-bottom: 20px;
    }

    .about-container h1 {
        font-size: 2em;
    }

    section h2 {
        font-size: 1.8em;
    }

    section p {
        font-size: 1em;
    }
}