/* Header section */
.header {
    background-color: #a0522d;
    color: white;
    padding: 20px 0;
    margin-top: 8px;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .phone-number {
    font-size: 14px;
  }
  .phone-number:hover {
    text-decoration: underline;
  }
  .phone-number img{
    width: 30px;
    height: 30px;
  }
  
  .header-right {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .header-right a {
    color: white;
  }
  
  .logo {
    width: 150px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    /* border-right: 2px solid gray; */
    transition: border-color 0.3s;
    font-size: larger;
    font-weight: 600;
  }
  
  .nav-links a:hover{
    color: rgb(216, 149, 4);
    border-bottom: 2px solid rgb(9, 9, 9);
  }
  
  .search img, .cart img {
    height: 25px; 
    width: 25px;
    margin: 3px;
  }
  
  .search img:hover, .cart img:hover{
    border: 1px solid rgb(255, 119, 0);
    
  }
  
  .register{
    text-decoration: none;
  }
  .register:hover{
    text-decoration: underline;
    color: rgb(247, 219, 5);
  }
  .register img{
    height: 25px; 
    width: 25px;
  }