
/* Header section */
.header {
  top: 0;
  position: sticky;
    background-color: hsla(0, 0%, 0%,0.5);
    color: white;
   backdrop-filter: blur(5px);
   padding: 20px 0 20px 0;
 
   
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  
  .header-right {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .header-right a {
    color: white;
  }
  
  .logo {
    width: 150px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
    margin: -26px 0 0 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    font-size: larger;
    font-weight: 600;
  }
  
  .nav-links a:hover{
    color: rgb(216, 149, 4);
    border-bottom: 2px solid
  }
  
  .search img, .cart img {
    height: 25px; 
    width: 25px;
    margin: 3px;
  }
  
  .search img:hover, .cart img:hover{
    border: 1px solid rgb(255, 119, 0);
    
  }
  
  .register{
    text-decoration: none;
  }
  .register:hover{
    text-decoration: underline;
    color: rgb(247, 219, 5);
  }
  .register img{
    height: 25px; 
    width: 25px;
  }
  .register span{
   

  }