.header {
    background-color: #a0522d;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.logo {
    width: 150px;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
