body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; /* Ensure the body is a positioning context */
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Assets/coffee-shop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px); /* Apply blur to the background image */
    z-index: -1; /* Ensure the background is behind all content */
}

/*reservation-form */
.reservation-container {
    padding: 50px;
    text-align: center;
}

.reservation-container h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #ffffff;
    text-decoration: underline;
}
.reservation-container h1:hover{
    color: #ff8717;
}

.reservation-form {
    max-width: 650px;
    margin: 0 auto;
    background-color: rgb(239, 238, 238);
    padding: 30px;
    padding-right: 60px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reservation-form label {
    display: block;
    margin: 15px 0 5px;
    color: #333;
    font-weight: 900;
}

.reservation-form input,
.reservation-form textarea,
.reservation-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reservation-form button {
    background-color: #a0522d;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reservation-form button:hover {
    background-color: #8b4513;
}
